<app-game-control (onCreateEvenTicket)="AddEvenNode($event)"  (onCreateOddTicket)="AddOddNode($event)"></app-game-control>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <app-even *ngFor="let evn of EvenArray">
        <div class="card" style="width:8rem;">
          <img width="100px" src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" [ngStyle]="{color: 'red'}">{{ evn }}</h5>
            <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
            <p class="card-text">Some content.</p>
          </div>
        </div>
      </app-even>
    </div>
    <div class="col-md-6">
      <app-even *ngFor="let odn of OddArray">
        <div class="card" style="width:8rem;">
          <img width="100px" src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" [ngStyle]="{color: 'blue'}">{{ odn }}</h5>
            <h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6>
            <p class="card-text">Some content.</p>
          </div>
        </div>
      </app-even>
    </div>
  </div>
</div>
